* {
    box-sizing: border-box;
}

#h1 {
    text-align: center;
}

#sticker {
    margin: 10px;
    border: 3px solid black;
    background-color: lightgray;
}

#content {
    margin: 10px;
}

#section_title1 {
    float: right;
    border: 3px solid black;
    background-color: salmon;
    padding: 5px;
}
#section_title2 {
    float: right;
    border: 3px solid black;
    background-color: brown;
    padding: 5px;

}
#section_title3 {
    float: right;
    border: 3px solid black;
    background-color: yellowgreen;
    padding: 5px;

}
/* mobile < 767px, tablet 768~991 px, desktop > 992px */


/* desktop view */
@media (min-width: 992px){
    .col-lg-1 {
        float: left;
        width: 33.3%;
    }
}


/* tablet view */
@media (min-width: 768px) and (max-width: 991px) {
    .col-tb-1, .col-tb-2 {
        float: left;
    }
    .col-tb-1 {
        width: 50%;
    } 
    .col-tb-2 {
        width: 100%;
    }
}

/* mobile view */
@media (max-width: 767px){
    .col-mb-1 {
        float: left;
        width: 100%;
    }
}